setuptools
discord.py==1.7.3
numpy
Pillow
python-dotenv==0.20.0
requests
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
moviepy==1.0.3
imageio-ffmpeg==0.4.9
scipy --only-binary scipy
anthropic
pypdf2
psutil
flask